
body {
    margin: 0;
    background-color: #e6e6ff;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width: 300px;
    position: fixed;
    border-color: #00001a;
    overflow: auto;
    font-family: algerian;
    
    
}
.bg {
	backgroud-color: #ccccff;
}


li a {
    display: block;
    color: #000;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
    border-style: groove;
    transition:all 0.2s linear;
}

li a.active {
    background-color: #ffffff;
    color: black;
}

li a:hover:not(.active) {
    background-color: #333333;
    color: white;
}

.center {
    text-align: center;
}

.space {
    padding-top: 5px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 230px;
}

.sticky {
   position: -webkit-sticky;
   position: sticky;
   top: 35px;
}

.imgborder {
	border-style: groove;
	border-radius: 6px;
	border-color: #00001a;
 
}
