.gradient {

	background: linear-gradient(#3e382c, #1e1f19) no-repeat center center fixed;
	padding: 50px 50px 50px 50px;
	background-size: cover;
	background-position: left top;
}

.padding {
	height: 550px;
	width: 1100px;
	background-image: url(images/leap.png);
	background: linear-gradient(-90deg, #20211b, #433f33); 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 4px 4px 4px 4px;
	margin: auto;  
	
}

.nav {
	width: 500px;
	margin: 0 auto;
	list-style-type: none;
	font-family: aharoni;
}

.nav li {
	float: left;
}

.nav li a {
	background-color: #121212;
	display:block;
	height: 40px;
	line-height: 40px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition:  all 0.2s linear;
	border-radius: 4px 4px 4px 4px;
}

.nav li a:hover {
	background-color: #a39f9f;
}

.imagepos {
	position: relative;
	top: 100px;
	right: 90px;
	left: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 4px 4px 4px 4px;
	width: 1020px;
	height: 300px	
}

.divpos {
	position: relative;
	left: 160px;
	color: white;
	top: -170px;
	text-shadow: 4px 4px 4px #000000;
	font-family: Aharoni;
}

.bg {
	background-color: #a39f9f;
}

.divbgimage {
	background-image: url('../images/leaves.png');
}
